[
	{todayhot,[
		{db_config, [
			{host, "127.0.0.1"}
			,{port, 3306}
			,{user, "root"}
			,{passwd, "todayhot"}
			,{database, "hot"}
			,{poolboy_options, [{size, 30}, {max_overflow, 60}]}
		]}
	]
	}
	,{ lager,[
	  { log_root, "log" },
	  { handlers, [
	    { lager_console_backend, [{ level,info }]},
	    { lager_file_backend, [{ file, " error.log " }，{ level, error }]},
	    { lager_file_backend, [{ file, "info.log " }，{ level,info }]}
	  ]}
	]}
]